body {
    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0;    
    color: white;
    background-image: url('../images/background.jpg');
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            height: 100vh; 
            
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005A9E;
    padding: 50px 10px;
}

.header-title {
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-user img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
}

/* Navigation Bar */
nav {
    background-color: #004A80;
    padding: 8px 8px;
    position: relative;
    z-index:1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    position: relative;
    
}


nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    border-right: 1px solid #bbb;
    text-align: left;
}

nav ul li a:hover {
    background-color: #003366;
}

/* Dropdown Menu */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #003366;
    list-style: none;
    padding: 0;
    width: 200px;
}

.dropdown-menu li a {
    padding: 10px;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #002244;
}

.main-container{
    display:flex;
    align-items: flex-start;
    padding:20px;
    overflow:visible;
}

/* Content Section */
.content {
    flex:2;
    padding:  20px;
    text-align: left;
    background-color: white;
    color: black;
    border-radius: 3px;
    margin:0;
    
}

/* Advertisement Section */
.advertisement {
  text-align: center;   
  background-color: #f1f1f1;
  padding:5px 0px;
  flex:0.8;
  color:black
  
}

.advertisment img{
    width:40%;
    height:auto;    
    display:block;
    margin:5px auto;
    border-radius: 5px;
}

/*form*/
.form-container{
    flex:1;
    background-color: white;
    color:black;
    padding:20px;
    border-radius: 10px;
}
.form-container h2{
    text-align: centre;
    margin-bottom: 20px;
    color:#333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display:block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,select{
    width: 50%;
    padding:10px;
    border:1px solid #ddd;
    border-radius: 5px;
}

form button{
    margin-top: 10px;
    padding:10px;
    cursor:pointer;
    background-color: #0073C6;
    color:#f1f1f1;
    border:none;
}

.btn-container{    
    text-align: center;
}

.btn{
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    font-size:16px;
}

.btn-submit{
    background-color: lightseagreen;
    color:white;
}

.btn-reset{
    background-color: #555;
    color:white;
}

.btn:hover{
    opacity:0.8;
}

/*table*/
table{
    border-collapse: collapse;
    width:90%;
}

th,td{
    text-align: left;
    padding:8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
tr:nth-child(even){background-color: #f2f2f2;}

th{
    background-color: #333;
    color:white;
    font-size: 14px;
}

h2{
    color:#333;
}

/*banner image*/
.banner{
    position:relative;
    width:100%;
    height:350px;
    overflow:visible;
}

.banner img{
    width:100%;
    height:100%;
    object-fit:cover;
}



.banner-text{
    position:absolute;
    top:50%;
    left:40%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color:white;
    padding:10px 20px;
    font-size:24px;
    font-weight:bold;
}

/*home-content*/
.home-content{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.section{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width:90%;
    margin-top: 20px;
}

.card{
    width:45%;
    background: #fff;
    padding:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
}

.card:hover{
    transform:scale(1.1);
}

.card:active{
    transform:scale(1.15);
}

.card img{
    width:80%;
    height:auto;

}

.card h3{
    margin:10px 0;
}

/*footer*/
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons .icon {
    margin: 0 15px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.social-icons .icon:hover {
    color: #00bfff;
}

footer p {
    font-size: 14px;
    margin-top: 10px;
}

/*login page*/
.login{
    background-image: url('../images/login.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    width: 450px;
    height: 450px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.header h2{
    color:#FAF9F6;
}

.header {
    background: #1a2a6c;
    color: white;
    padding: 20px;
}

.login-box {
    padding: 20px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

button {
    width: 40%;
    padding: 10px;
    background: #1a2a6c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: grey;
}

h4{
    color:darkolivegreen;
}

/*animation*/

.animated-content{
    opacity:0;
    transform:translateY(50px);
    transition: opacity 0.8s ease-out,transform 0.8s ease-out;
}

.animated-content.slide-up{
    opacity:1;
    transform:translateY(0);
}

.contact-card{
    width:45%;
    background: #fff;
    padding:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    cursor:pointer;
    
}

/*payment*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticket-details {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}
.ticket-details p {
    font-size: 16px;
    margin: 8px 0;
}
.qr-section {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.qr-section img {
    border: 2px solid black;
    padding: 10px;
}
.buttons {
    margin-top: 20px;
}
.buttons button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin: 5px;
    border-radius: 5px;
}
.download-btn {
    background: green;
    color: white;
}
.home-btn {
    background: gray;
    color: white;
}

